

#sceneGamepad {
    //display: none;

    font-size: 2em;
    font-weight: bold;

    // no text selection
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none;   /* Firefox all */
    -ms-user-select: none;  /* IE 10+ */
    user-select: none;  /* Likely future */ 
    
    /* Direction Buttons */
    .gamepadButtonLeft {
        position: absolute;
        bottom: 0;
        left: 0;
        width: $directionButtonWidth;
        height: $directionButtonHeight;
        background-color: #AAA;

    }

    .gamepadButtonRight {
        position: absolute;
        bottom: 0;
        left: $directionButtonWidth;
        width: $directionButtonWidth;
        height: $directionButtonHeight;
        background-color: #AAA;

        margin-left: $buttonMargin;
    }

    /* Action Buttons */

    // positioned bottom right
    .gamepadButtonA {
        /*background-image: url(../assets/buttonA.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto;*/
        position: absolute;
        right: 0;
        bottom: 0;
        width: $actionButtonWidth;
        height: $actionButtonHeight;
        background-color: green;
    }

    // above buttonA
    .gamepadButtonB {
        position: absolute;
        right: 0;
        bottom: $actionButtonHeight;
        width: $actionButtonWidth;
        height: $actionButtonHeight;
        background-color: yellow;

        margin-bottom: $buttonMargin;
    }
}